#header .logo-content
{
	width: 195px;height: 87px;background: url('../images/logo.png') no-repeat;float: right;display: block;
}
#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top: 8px solid #ce1141;
    z-index: 99;
}

.led-box {
  margin: 15px 20px;
  float: left;
}

.led-box p {
  font-size: 8px;
  text-align: center;
  margin: 1em;
}

.led {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  background-color: #FF0000; /*#FF0000; 32CD32 CCCC00*/
  border-radius: 50%;
}
.tabcontents {
  color: #cccccc;
  height:auto !important;
  border:none !important;
}
.divHeader:hover {
  cursor: pointer;
  background: rgba(30,30,30,1);
}
.buttonCvm:hover, .buttonCvm2:hover {
  cursor: pointer;
}

table.cvmapps {
  border-collapse: collapse;
  width: 80%;
}

table.cvmapps th, table.cvmapps td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.cvmapps tr:hover {
  background-color: #fccccc;
  color: black;
}
.cvmAppItem {
  padding: 1px 1px;
  font-size: 10pt;
  font-weight: bold; 
}
.cvmAppStatusItem {
  padding: 1px 1px;
  font-size: 10pt;
  font-weight: bold; 
}
.cvmAppSubItem {
  padding: 1px 1px;
  font-size: 8pt;
  font-weight: normal; 
}
.licItem {
  padding: 1px 1px; 
  font-size: 8pt; 
  font-weight: normal; 
  cursor: pointer;
}
.licSubItem {
  padding: 1px 1px; 
  font-size: 8pt; 
  font-weight: normal; 
}

.buttonCvm {
  background-color: #ce1141;
  white-space:nowrap;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 20px; 
  padding-right: 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 12px;
}
.buttonCvm2 {
  background-color: #7e1141;
  white-space:nowrap;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 20px; 
  padding-right: 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 12px;
}
.divHeader {
  margin: 1px auto;
  padding: 10px 10px;
  background: rgba(0,0,0,0.8);
  font-size: 12pt;
  border-bottom: 1px solid #ddd;
} 
.divItem {
  margin: 1px auto;
  padding: 20px 20px;
  background: rgba(237,14,61,0.2);
  font-size: 10pt;
  font-weight: normal;
} 
.divInfoItem {
  margin: 1px auto;
  padding: 20px 20px;
  background: rgba(237,14,61,0.2);
  font-size: 8pt;
  font-weight: normal;
} 
.divVersionItem {
  font-size: 10pt;
  font-weight: normal;
} 
.divItemNtwrk {
  margin: 1px auto;
  padding: 20px 20px;
  background: rgba(237,14,61,0.2);
  font-size: 8pt;
  font-weight: normal;
} 
.divItemEditNtwrk {
  margin: 1px auto;
  padding: 20px 20px;
  background: rgba(237,14,61,0.2);
  font-size: 10pt;
  font-weight: normal;
}